body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/* ID's */
#title{
    background-color:#3AB0FF ;
    text-align: center;
}
#features{
    background-color: #fff;
    padding-bottom: 50px;
}
#testimonials{
    background-color:#3AB0FF;
    padding: 30px auto;
    text-align: center;
}
#press{
    background-color:#3AB0FF;
    text-align: center;
}
#pricing{
    text-align: center;
    padding: 3px;
    margin-top: 0;
    background-color: #DAEAF1;
}
#footer{
    text-align: center;
    margin: 5% auto;
    font-family: 'Montserrat';
    font-size: larger;
}
/* Navbar */
.navbar-nav .nav-link.active{
    color:#fff;
}
.navbar{
    margin-bottom: 5%;
    margin-left: -15%;
    padding:0;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    text-align: right;
}
.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-nav{
    margin-left: 60%;
}
.navbar-toggler{
    margin-right: 0;
}
/* Containers */
.container-fluid{
    padding: 3% 15%;
}
.container-testimonial{
    background-color: #3AB0FF;
}
.BAP{
    padding-right: 30px;
}
.GTW{
    padding-left:30px;
}
/* HEADERS*/
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3.Features{
    font-size: 1.6rem;
    font-weight:bold;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
#testimonials h2{
    color:#fff;
    margin: 5% auto 3% auto;
    
}
#testimonials h3{
font-family:'Montserrat', sans-serif;
color:#fff;
font-weight: 600;
}
/* .rotate{
    transform: rotate(25deg);
} */
/* Images */
img.A-plus{
    height: 300px;
    margin-bottom: 20px;
}
.A-push{
    height: 150px;
    margin: 2% 3% 5%;
}
.A-push:hover{
    color: #FF8B8B;
}
.press-img{
    padding: 10px;
    margin-bottom: 10px;
}
/* Download Buttons */
.download-button{
    margin: 20px 5px 10px;
}
/* Font Awesome Icons */
.fa-circle-check{
    
    color:#3AB0FF;
    width: 150px;
    margin-bottom: 20px;
}
.fa-circle-check:hover{
    color:#FF7396;
}
.fa-bullseye{
   
    color:#FF7396;
    margin-bottom: 20px;
}
.fa-bullseye:hover{
    color:#3AB0FF
}
.fa-heart-circle-check{
   
   color:#3AB0FF; 
   margin-bottom: 20px;
}
.fa-heart-circle-check:hover{
    color:#FF7396;
}

hr{
    border-style: dotted none none none;
    border-width: 10px;
    width: 30%;
    text-align: center;
    color:#FF8B8B;
    margin: auto;
}
/* Paragraphs */
#features p{
    color:gray;
}
.card-group{
    padding:15px;
    background-color: #DAEAF1;
}
button.contact{
    font-size: 27px;
}
button.navbar-toggler{
    color:#fff;
}
.fa-brands{
    padding: 8px;
}
.download-button.contact{
    margin-bottom: 8%;
}

/* Media Querry */
@media (max-width:1028px){
    #title{
        text-align: center;
    }
  #title h1 {
    font-size: 90px;
    font-weight: 600;
}
   .navbar-brand{
        font-size: 30px;
   }
   .nav-item{
     font-size: 30px;
   }
   .navbar-brand{
    font-size: 30px;
   }
   .A-plus{
    height: 400px;
    margin-bottom: 20px;
    padding: 15px;
}
    .download-button{
    width: 200px;
    height: 65px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    }
    .dropdown-item {
        font-size: 23px;
    }
    .navbar-nav .dropdown-menu {
    position: absolute;
}
    #features{
        text-align: center;
    }
    #testimonials h2{
   font-size: 45px;
}
    h3.Features{
    font-size: 65px;
    }
    #features p{
        font-size: 35px;
    }
    #testimonials h3{
        font-size: 40px;
        line-height: 1.2;
    }
    #footer p{
         font-size: 22px;
    }
}
